.modal {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.columnUsuaris,.columnUsuarisGrup,.columnButons {
    float: left;
    width: 33.33%;
    padding: 10px;
}

#buscaUsuari{
    width: 100%;
}

#buscaUsuariGrup{
    width: 100%;
}

.columnButons {
    min-height: 80px;
    display: table-cell;
    vertical-align: middle;
}

.afegirBtn{
    border: 1px solid;
    margin-right: 40%;
    margin-left: 10px;
}

.eliminarBtn{
    margin-top: 20px;
    border: 1px solid;
    margin-right: 10px;
    margin-left: 40%;
}

.columnUsuaris {
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.columnUsuarisGrup {
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.containerModificaMembres:after {
    content: "";
    display: table;
    clear: both;
}

.containerModificaMembres {
    margin-top: 10px;
}

.modal-body-eliminarGrup{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

