
.darkColor {
    background-color: #666;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
}

#containerUser {
    width: 580px;
    margin: 50px auto;
    border: 2px solid #666;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075)inset, 0 0 6px rgba(0,0,0,0.6);
}

.controls {
    padding: 30px;
}

input, select {
    margin-bottom: 10px;
}

#guardar {
    width: 100px;
}


